<header>
  <div class="toggle-menu float-left" (click)="toggleMenu()" style="color: white">
    <i class="fa fa-align-justify"></i>
  </div>
  <nav class="panel-nav float-left">
    <ul class="tab tab-block">
      <li [ngClass]="mInPage==='home'?'tab-item active':'tab-item'" (click)="togglePge('home')">
        <img src="/assets/img/logo-nav@2x.png">
      </li>
      <li [ngClass]="mInPage==='home'?'tab-item active':'tab-item'" (click)="togglePge('home')"><a
        href="javascript:void(0)">Home</a></li>
      <li [ngClass]="mInPage==='about'?'tab-item active':'tab-item'" (click)="togglePge('about')"><a
        href="javascript:void(0)">About US</a></li>
      <li [ngClass]="mInPage==='contact'?'tab-item active':'tab-item'" (click)="togglePge('contact')"><a
        href="javascript:void(0)">Contact Us</a></li>
    </ul>
  </nav>
</header>
<div class="page-area-parent">
  <ul [ngClass]="manuIsVisible?'menu margin-hidden':'menu'">
    <li class="menu-item">
      <div class="tile tile-centered">
        <div class="tile-icon"><img class="avatar" src="/assets/img/logo.png" alt="Avatar"></div>
        <div class="tile-content">Steve Rogers</div>
      </div>
    </li>
    <li class="divider"></li>
    <li class="menu-item">
      <a routerLink="game" routerLinkActive="active">Game</a>
    </li>
    <li class="menu-item"><a routerLink="calc" routerLinkActive="active">Calculator</a></li>
    <li class="menu-item"><a routerLink="emp" routerLinkActive="active">Employee</a></li>
  </ul>

  <div class="page-area">
    <div *ngIf="mInPage==='home'">
      <h1>M in home</h1>
      <div>Accusamus deserunt dolorem dolores doloribus eius, ex facere harum, iusto magnam maxime minus, nostrum
        perferendis repellendus reprehenderit soluta suscipit vitae voluptatum. Cum delectus esse minima minus nobis
        praesentium quod veritatis.
      </div>
    </div>
    <div *ngIf="mInPage==='about'">
      <h1>M in about us</h1>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid excepturi facere illo? Animi, aut commodi
        est exercitationem fugiat labore molestias necessitatibus qui quia quis recusandae repudiandae tenetur totam vel
        voluptate.
      </div>
    </div>
    <div *ngIf="mInPage==='contact'">
      <h1>M in contect us</h1>
      <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores corporis dolorum ea iste, magnam quis
        quisquam. Asperiores dignissimos dolores mollitia officiis quasi reiciendis repellat sunt. Distinctio earum ex
        expedita quidem.
      </div>
      s
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
